<div
  class="my-4 flex h-10 w-full items-center justify-center rounded-md border-2 border-violet-600 bg-violet-200 p-2"
>
  <h1
    class="text-center font-mono text-2xl text-[30px] font-bold text-cyan-600"
  >
    Hello World
  </h1>
</div>
<div class="mt-2 flex flex-col items-center justify-center space-y-6">
  <div class="h-16 w-16 rounded-full bg-blue-500"></div>
  <div class="h-16 w-16 rounded-full bg-orange-500"></div>
  <div class="h-16 w-16 rounded-full bg-green-500"></div>
</div>
<div class="grid grid-cols-3 gap-2 mt-6 mx-2">
  <div class="h-16 rounded-full bg-blue-500"></div>
  <div class="h-16 rounded-full bg-orange-500"></div>
  <div class="h-16 rounded-full bg-green-500"></div>
</div>

<div class="sm:bg-amber-500 md:bg-amber-600 mt-6">
  <p class="max-sm:text-white">I appear on screens wider than 768px</p>
</div>
<div class="bg-white text-black dark:bg-black dark:text-white">
  Dark Mode enabled!
</div>

<div
  class="rounded-lg m-10 bg-white px-6 py-8 shadow-xl ring-1 ring-slate-900/5 dark:bg-black"
>
  <h3
    class="text-slate-900 dark:text-base font-medium tracking-tight dark:text-white"
  >
    Writes Upside-Down
  </h3>
  <p class="mt-2 text-sm text-slate-500 dark:text-blue-100">
    The Zero Gravity Pen can be used to write in any orientation, including
    upside-down. It even works in outer space.
  </p>
  <button
    id="toggleDark"
    class="text-blue-900 bg-blue-100 mt-8 rounded-md px-4 py-2 text-sm font-medium"
    onclick="document.body.classList.toggle('dark')"
  >
    Toggle Dark Mode
  </button>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    const toggleDark = document.getElementById("toggleDark");
    toggleDark.addEventListener("click", function () {
      if (document.documentElement.classList.includes("dark")) {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      alert("click!");
    });
  });
</script>
<router-outlet />
