<div
  class="my-4 flex h-10 w-full items-center justify-center rounded-md border-2 border-violet-600 bg-violet-200 p-2"
>
  <h1
    class="text-center font-mono text-2xl text-[30px] font-bold text-cyan-600"
  >
    Hello World
  </h1>
</div>
<div class="mt-2 flex flex-col items-center justify-center space-y-6">
  <div class="h-16 w-16 rounded-full bg-blue-500"></div>
  <div class="h-16 w-16 rounded-full bg-orange-500"></div>
  <div class="h-16 w-16 rounded-full bg-green-500"></div>
</div>
<div class="grid grid-cols-3 gap-2 mt-6 mx-2">
  <div class="h-16 rounded-full bg-blue-500"></div>
  <div class="h-16 rounded-full bg-orange-500"></div>
  <div class="h-16 rounded-full bg-green-500"></div>
</div>

<div class="sm:bg-amber-500 md:bg-amber-600 mt-6">
  <p class="max-sm:text-white">I appear on screens wider than 768px</p>
</div>

<router-outlet />
